#eisen_plot {
  border: solid 1px black;
  width:400px;
  height:400px;
  margin-right: 12px;
  float: left;
  background-color: whitesmoke;
}

#infoBoxHolder {
  z-index: 300;
  position: absolute;
  left: 5px;
}

#infoBox {
  border: 1px solid #999;
  padding: 8px;
  background-color: whitesmoke;
  opacity:0.9;
  position: relative;
  width: 170px;
//height: 60px;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 11px;
}

/* this is known as the "clearfix" hack to allow
   floated objects to add to the height of a div */
#infoBox:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

div.infoTitle {
  width: 100px;
  font-weight: normal;
  color:  #787878;
  float: left;
  margin-left: 4px;
}

div.infoValues {
  width: 30px;
  text-align: right;
  float: right;
}

label:hover, label:focus { background: #CEDFF2; }
